# Ignore Terraform directories and files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
backend.tf
*.tfstate.backup
terraform.tfvars
*.tfvars.json

# Ignore Terraform provider binaries
.terraform/providers/

# Ignore temporary editor files
.*.swo
.*.swp

# Ignore any swap files created by editors
*.swp
*.swo

